.navbar {
    background-color: #111;
    padding: 20px;
}

.navbar .logo {
    width: 100px;
    margin-top: 3px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px white;
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.navbar-links a {
    display: block;
    height: 60%;
    color: white;
    font-weight: bold;
    padding: 20px 30px;
    transition: 0.3s all;
    text-decoration: none;
}

.navbar-links a:hover {
    background: rgba(255, 255, 255, 0.6);
    color: black;
    border-radius: 15px;
    text-decoration: underline;
}

.toggle {
    position: absolute;
    right: 12px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 40px;
    height: 40px;
    padding: 2px 8px;
    cursor: pointer;
    box-shadow: 0px 0px 4px 0px white;
}

.bar {
    border: 1px solid white;
    width: 100%;
    margin: 3px;
}

@media (max-width: 650px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        background-color: #111;
        width: 100%;
        text-align: center;
    }

    .navbar-links.active {
        display: flex;
    }

    .toggle {
        display: flex;
    }
}
